{% extends 'includes/list.html'%}



{% block column %} 

<tr>
  <th scope="col">Numero</th>
  <th scope="col">nome</th>
  <th scope="col">Opções</th>
</tr>

{% endblock%}

{% block row %}


{% for c in category %}
<tr>
  <td>{{ c.id }}</td>
  <td>{{ c.name }}</td>
  <td>
    <a href="{%url 'erp:category_edit' c.id %}" type="button" class="btn btn-warning btn-xs btn-flat">
      <i class="far fa-edit"></i>
    </a>
    <button type="button" class="btn btn-danger btn-xs btn-flat">
      <i class="far fa-trash-alt"></i>
    </button>
  </td>
</tr>
{% endfor %}
{% endblock%}