{% extends 'base.html' %}

{% block content %}

<form method='post'> 

  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-plus"></i>
        {{ title }}
      </h3>
    </div>

    <div class="card-body">


        {% block formulary %} {% endblock %}
    </div>
    <div class="card-footer">
      <button type="submit"  class="btn btn-primary btn-flat"> 
        <i class="fas fa-save"></i>
        Novo registro
      </button>
     </div>

  </div>
</form>
{% endblock %}


{% block javascript %}
<script>
 
  {% if form.errors %}

  var errors = '';
      {% for field in form %}
          {% for error in field.errors %}
         errors+= '{{ error }} \n'
          {% endfor %}

      {% endfor %}



  Swal.fire({
    title: 'Error!',
    text: errors,
    icon: 'error',
 
  })

  {%endif%}
  

  $('form').on('submit', function(e){
    e.preventDefault();
    var parameters = $(this).serializeArray();
    
   $.ajax({
      url: window.location.pathname,
      type: 'POST',
      data: parameters,
      dataType: 'json'
    }).done(function (data) {
      if(!data.hasOwnProperty('error')){
        Location.href = '{{ list_url }}';
        return false;
      }
      
      message_error(data.error);
      
      
      
    }).fail(function (jqXHR, textStatus, errorThrown) {
      console.log(textStatus + ':' +errorThrown );
    }).always(function (data) {
     
    })

  });


</script>
{%endblock%}